<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Regístrate</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "needs-validation" }) do |f| %>
        <% if resource.errors.any? %>
          <div class="alert alert-danger">
            <h5><%= pluralize(resource.errors.count, "error") %> prohibió que se guardara:</h5>
            <ul>
              <% resource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= f.text_field :nombre, placeholder: "Nombre", class: "form-control", autofocus: true %>

          <%= f.text_field :nombre, class: "form-control", autofocus: true %>
        </div>

        <div class="mb-3">
          <%= f.label :email, "Correo Electrónico", class: "form-label" %>
          <%= f.email_field :email, class: "form-control", autocomplete: "email" %>
        </div>

        <div class="mb-3">
          <%= f.label :password, "Contraseña", class: "form-label" %>
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, "Confirmación de Contraseña", class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
        </div>

        <div class="d-grid gap-2">
          <%= f.submit "Registrarse", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
