<div class="admin-dashboard">
  <header class="dashboard-header">
    <h1>NutriDatos<sup>®</sup></h1>
    <h2>Panel de Administración</h2>
  </header>

  <div class="dashboard-content">
    <!-- Menú Lateral -->
    <aside class="sidebar">
      <ul>
        <li><%= link_to "Datos Generales", admin_general_path, class: "sidebar-link" %></li>
        <li><%= link_to "Editar Datos", edit_admin_path(@admin), class: "sidebar-link" %></li>
        <li><%= link_to "Gráficos Generales", admin_charts_path, class: "sidebar-link" %></li>
        <li><%= link_to "Tendencias", admin_trends_path, class: "sidebar-link" %></li>
      </ul>
    </aside>

    <!-- Contenido Dinámico -->
    <main class="main-content">
      <%= yield %>
    </main>
  </div>
</div>
